
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gothic A1', sans-serif;
    background-image: url(./images/background.png);
}

a{
    text-decoration: none;
    color: rgb(95, 95, 131);
}

#gallery {
    text-align: center;
    margin-top: 50px;
}

#gallery h2 {
    margin-bottom: 1em;
    color: orange;
    text-shadow: 2px 8px 0.5px rgba(0, 0, 0, 0.759);
    background: rgba(255, 255, 255, 0.359);
    padding: 20px;
}

.slider {
    width: 1000px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider > img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
}

/* 
    현재 이미지 fadeIn
    나머지 이미지 fadeOut
*/

.prevBtn, .nextBtn {
    padding: 5px;
    margin: 10px 0;
    background-color: lightblue;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.prevBtn {
    position: absolute;
    left: 200px;
    top: calc(100% / 2);
}

.nextBtn {
    position: absolute;
    right: 200px;
    top: calc(100% / 2);
}

.indicator {
    margin-top: 40px;
}

.indicator a {
    padding: 10px;
}